h1#hd {
    text-align: center;
    color: white;
}

#bt {
    margin-left: 120px;
}

div#bod {
    background-color: black;
    height: 100vh;
    color: white;
}
table#field {
    width: 700px;
    margin-left: 120px;
    margin-top: 70px;
}